
@{
    ViewBag.Title = "About";
}

<div class="container">
    <section class="about-row">
        <section class="col-md-6 aboutcontenttop">
            <h1>What is Squares?</h1>
            <p>
                Squares is a digital solution, where designers and customers work
                together building individual designs. Designers can publish their sets
                of designs that contain pieces of graphic-elements on the website.<br />
                Users can interact with any published set and rearrange the pieces in
                a square-grid system to create their own work of art. Hereby the users
                got the possibility to customize designers work into their own work of
                art and in the end buy it from the concerned designer.
            </p>
        </section>
        <section class="col-md-6 aboutimg">
            <img src="~/Images/squarefullset.jpg" />
        </section>
    </section>

    <section class="about-row">
        <section class="col-md-6 aboutimg">
            <img src="~/Images/posterpeople.jpg" />
        </section>
        <section class="col-md-6 aboutcontentbottom">
            <h1>The purpose</h1>
            <p>
                Through our digital solution, we want designers and customers working
                together building that individuality. We want a creative environment
                that contains people online creating through rearranging, inspiring
                and sharing art within the square.
            </p>
            <p class="slogan">
                “We believe in the power of your individuality”
            </p>
        </section>
    </section>
</divclass"">