@{
    ViewBag.Title = "Squares";
}

<div id="titles">
    <h1 class="text-center">Do you Square? </h1>
    <h2 class="text-center">Then Drag and Drop it Like it's Hot!</h2>

    <div class="title-buttons">
        <a class="button button-black" href="#">Learn More</a>
        <a class="button" href="#">Sign Up</a>
    </div>
</div>
<input type="text" id="outputfield">

<!-- Editor       -->
<section id="editor-frame">
    <section id="grid">
        <div class="grid-cell droppable" id="c1">
            <div class="rotate-btn"></div>
        </div>
        <div class="grid-cell droppable" id="c2">
            <div class="rotate-btn"></div>
        </div>
        <div class="grid-cell droppable" id="c3">
            <div class="rotate-btn"></div>
        </div>
        <div class="grid-cell droppable" id="c4">
            <div class="rotate-btn"></div>
        </div>
        <div class="grid-cell droppable" id="c5">
            <div class="rotate-btn"></div>
        </div>
        <div class="grid-cell droppable" id="c6">
            <div class="rotate-btn"></div>
        </div>
        <div class="grid-cell droppable" id="c7">
            <div class="rotate-btn"></div>
        </div>
        <div class="grid-cell droppable" id="c8">
            <div class="rotate-btn"></div>
        </div>
        <div class="grid-cell droppable" id="c9">
            <div class="rotate-btn"></div>
        </div>

    </section>

    <p class="text-center rotation-desc">Double click to rotate</p>

    <section class="pieces-zone">
        <img alt="Piece" src="~/Images/15.jpg" class="square draggable" id="square1">
        <img alt="Piece" src="~/Images/2.jpg" class="square draggable" id="square2">
        <img alt="Piece" src="~/Images/4.jpg" class="square draggable" id="square3">
        <img alt="Piece" src="~/Images/9.jpg" class="square draggable" id="square4">
        <img alt="Piece" src="~/Images/11.jpg" class="square draggable" id="square5">
        <img alt="Piece" src="~/Images/7.jpg" class="square draggable" id="square6">
    </section>

</section>


<!-- Discover /Create        -->
<section class="discover-create-outer">
    <div class="container">
        <div class="col-sm-6 discover-create discover-box-left">
            <div class="discover-create-inner">
                <h4> Be your own Boss!</h4>
                <p> Design square sets and profit from the sales of your art-pieces!</p>
                <a class="button">I am a creator</a>
            </div>
        </div>
        <div class="col-sm-6 discover-create discover-box-right">
            <div class="discover-create-inner">
                <h4> Mix squares your way! </h4>
                <p> Buy t-shirts, picture frames and printed designer square sets. </p>
                <a class="button">I am an explorer</a>
            </div>
        </div>
    </div>
</section>

<section class="row">

    <div id="carousel" class="col-xs-12">
        <!--                Implement Carousel here fdsa-->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="~/Images/carousel-1.jpg" alt="image1" width="600" height="600" class="img-responsive center-block">
                    <div class="carousel-caption">
                        <h3>Test</h3>
                        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/carousel-2.jpg" alt="image2" width="600" height="600" class="img-responsive center-block">
                    <div class="carousel-caption">
                        <h3>Chania</h3>
                        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/carousel-3.jpg" alt="image3" width="600" height="600" class="img-responsive center-block">
                    <div class="carousel-caption">
                        <h3>Flowers</h3>
                        <p>Beatiful flowers in Kolymbari, Crete.</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</section>